@font-face {
  font-family: 'SourceSansProBlack';
  src: url('/src/assets/fonts/sourcesanspro-black/sourcesanspro-black.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProBold';
  src: url('/src/assets/fonts/sourcesanspro-bold/sourcesanspro-bold.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProRegular';
  src: url('/src/assets/fonts/sourcesanspro-regular/sourcesanspro-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansProSemibold';
  src: url('/src/assets/fonts/sourcesanspro-semibold/sourcesanspro-semibold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BoldSomeFont';
  src: url('/src/assets/fonts/bold/RobotoMono-Thin.ttf');
  font-weight: normal;
  font-style: normal;
}