extends template/main

block variables
    - const title = 'Главная страница'
    - const pageClass = 'index-page'

block content
    include pages/index/banner
    include pages/index/popular-categories


