section.s-advantages.s-bg-white
    .container
        .advantages
            .advantage
                .advantage__aside
                    +svgIcon('funds')
                .advantage__body
                    span.advantage__titile 30-дневная гарантия возврата денег
                    p.advantage__text Поэтому вы можете делать покупки с уверенностью
                    a(href="").advantage__link Узнать о гарантии
            .advantage
                .advantage__aside
                    +svgIcon('diagram')
                .advantage__body
                    span.advantage__titile Специалисты по товарам на связи
                    p.advantage__text Мы ответим на любые вопросы о товарах в течение 10 минут
                    a(href="").advantage__link Получить консультацию
            .advantage
                .advantage__aside
                    +svgIcon('invest')
                .advantage__body
                    span.advantage__titile Бесплатные образцы
                    p.advantage__text Некоторые товары вы можете изучить внимательнеее перед покупкой